.main-chat
  .main-chat__header
    .groups
      .groups__name
        = @group.name
      .groups__membar
        membar:
        - @group.users.each do |user|
          = user.name
    .main-chat__edit
      = link_to edit_group_path(@group) do
        edit
  
  .main-chat__message-list
    = render @messages
  
  .main-chat__footer
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .input-box
        = f.text_field :text, class: 'input-box__text', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image')
          = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'submit-btn'
         
    