.side-bar
  .side-bar__header
    .top-items
      %p.top-items__name
        = current_user.name
      %ul.top-items__icon 
        %li.icon__left
          = link_to new_group_path do
            = icon('far', 'edit')
        %li.icon__right
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')


 
  .side-bar__groups 
    - current_user.groups.each do |side|
      .side-bar__groups__list
      = link_to group_messages_path(side) do
        .side-bar__groups__list__name
          = side.name
        .side-bar__groups__list__messages
          = side.show_last_message
    
